<!DOCTYPE html>
<html>
<head>

    <title>Wynkl</title>
    
    <link href="{{ asset('menu.css')}}" rel="stylesheet" />
    <link href="{{ asset('base.css')}}" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light+Two' rel='stylesheet' type='text/css'>
    
    <!-- least.js CSS-file -->
    <link href="{{ asset('least/css/least.min.css')}}" rel="stylesheet" />
    <!-- jQuery libary -->
    <script src="{{ asset('http://code.jquery.com/jquery-latest.js')}}" defer="defer"></script>
    <!-- least.js JS-file -->
    <script src="{{ asset('least/js/least.min.js')}}" defer="defer"></script>
    <!-- Lazyload JS-file -->
    <script src="{{ asset('least/js/jquery.lazyload.min.js')}}" defer="defer"></script>
    
</head>
<body>

    <div>
        <nav>
            <ul>
		<li><a href="#">Home</a></li>
                
                <li><a href="#">Inmobiliarias</a></li>
                
                <li><a href="#">Fideicomisos</a></li>
                
                <li class="drop">
                <a href="#">Propietarios</a>	
                    <div class="dropdownContain">
                    <div class="dropOut">
                    <div class="triangle"></div>
			<ul>
                            <li>Comprar</li>
                            <li>Alquilar</li>
			</ul>
                    </div>
                    </div>	
		</li>
                
                <li><a href="#">Buscar</a></li>
                
		<li class="drop">
		<a href="#">Ciudad</a>	
                    <div class="dropdownContain">
                    <div class="dropOut">
                    <div class="triangle"></div>
			<ul>
                            <li>Resistencia</li>
                            <li>Corrientes</li>
                            <li>Formosa</li>
			</ul>
                    </div>
                    </div>
		</li>
                
		<li><a href="#">Help</a></li>
            </ul>
        </nav>
    </div>
    
    <section class="home">
        <hgroup>
            <h3>Wynkl</h3>
            
        </hgroup>
    </section>
    
    <section class="inmobiliarias">
        
        <div id="cont-hgroup-inmb">
        <hgroup>
            <h1>Inmobiliarias</h1>
            <p>Click en el icono y accedes a todas las publicaciones</p>
        </hgroup>
        </div>
    
        <section class="inmb-gallery">
        <ul id="gallery">
            <li id="fullPreview"></li>

            <!-- 1 -->
                <li>
                    <a href="least/img/full/1.jpg"></a>
                    <img data-original="least/img/thumb/1.jpg" src="least/img/thumb/1.jpg" width="240" height="150" alt="Photo" />
                    
                    <div class="overLayer"></div>
                    <div class="infoLayer">
                        <ul>
                            <li>
                                <h2>
                                    Grupo Kell   
                                </h2>
                            </li>
                            <li>
                                <p>
                                    Ver mas
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div class="projectInfo">
                        <strong>Day, Month, Year:</strong> sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                    </div>
                </li>
                
                <!-- 2 -->
                <li>
                    <a href="least/img/full/2.jpg"></a>
                    <img data-original="least/img/thumb/2.jpg" src="least/img/thumb/2.jpg" width="240" height="150" alt="Photo" />
                    
                    <div class="overLayer"></div>
                    <div class="infoLayer">
                        <ul>
                            <li>
                                <h2>
                                    Photo   
                                </h2>
                            </li>
                            <li>
                                <p>
                                    View Picture
                                </p>
                            </li>
                        </ul>
                    </div>
                    
                    <p class="projectInfo">
                        <strong>Day, Month, Year:</strong> sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                    </p>
                </li>
                
                
        </ul>
        </section>
    </section>
    
    <section class="fideicomisos"></section>
    
    <section class="propietarios"></section>
    
    <section class="buscar"></section>
       
{# script least #}
    <script>
        $(document).ready(function(){
            $('#gallery').least();
        });
    </script>
</body>
</html>
