
<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js " lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Wynkl</title>
    <meta name="description" content="Wynkl es un servicio de WebForLife. 
          Vemos la web como un medio para hacer la vida mas sencilla :)"/>

    <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />
    <link rel="shortcut icon" href="/static//favicon.ico" />
    <!--<link rel="stylesheet" href="{{ asset('css/style.css')}}" /> -->
    <!--<link rel="stylesheet" href="{{ asset('css/libs/animate.min.css')}}" />-->
    <link href="{{ asset('bootstrap/css/bootstrap-responsive.min.css')}}" rel="stylesheet"/>
    
    <meta name="google-site-verification" content="i7rhD3f-1B2YTLL6-Ww_7otSJGNP6awiXPrw7Q4pWPs" />
    
 <!--<link href="{{ asset('css/libs/jquery.heroCarousel.css')}}" rel="stylesheet"/>
 <link href="{{ asset('bootstrap/css/bootstrap-responsive.min.css')}}" rel="stylesheet"/>
     <script src="{{ asset('js/libs/modernizr-2.5.3-respond-1.1.0.min.js')}}"></script>
     <link href="{{ asset('css/libs/anythingslider.css')}}" rel="stylesheet" /> -->
    
<link href="{{ asset('css/home.css')}}" rel="stylesheet" />

<!-- carousel libs -->
    <link href="{{ asset('bootstrap/css/bootstrap.min.css')}}" rel="stylesheet" />
    <!--<link href="{{ asset('carousel/bootstrap-combined.min.css')}}" rel="stylesheet" /> calesita mas grande nomas :/ -->
    <script src="{{ asset('http://code.jquery.com/jquery.js') }}"></script>
    <script src="{{ asset('carousel/bootstrap-carousel.js') }}"></script>
    <link href="{{ asset('css/libs/carousel.css')}}" rel="stylesheet" />


  
</head>
<body class="home" >
    
    <!--<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>

                </a>
                <a class="brand" href="#">Project name</a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li class="active">
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#about">About</a>
                        </li>
                        <li>
                            <a href="#contact">Contact</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b>

                                </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">Action</a>
                                </li>
                                <li>
                                    <a href="#">Another action</a>
                                </li>
                                <li>
                                    <a href="#">Something else here</a>
                                </li>
                                <li class="divider"></li>
                                <li class="nav-header">Nav header</li>
                                <li>
                                    <a href="#">Separated link</a>
                                </li>
                                <li>
                                    <a href="#">One more separated link</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <form class="navbar-form pull-right">
                        <input class="span2" type="text" placeholder="Email">
                        <input class="span2" type="password" placeholder="Password">
                        <button type="submit" class="btn">Sign in</button>
                    </form>
                </div>
                <!--/.nav-collapse -->
            <!--</div>
        </div>
    </div>-->
    
<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
    <!--<div class="container navouter">
    <nav class="navbar navbar-fixed-top">
    <div class="navbar navbar-inverse navbar-fixed-top animated fadeInDown" style="display: block;">
      <nav class="navbar-inner">
        <nav class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">-->
       <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand scroll" href="/#top" title="Calm Digital">
              <img src="/static/img/logo.png" alt="Calm Digital">
          </a>
          <!--<nav class="nav-collapse">-->
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="/#whatwedo" title="What we do" class="scroll">What we do</a></li>
              <li><a href="/#whoweare" title="Who we are" class="scroll">Who we are</a></li>
              <li><a href="/#ourwork" title="Our work" class="scroll">Our work</a></li>              
              <li><a href="/blog/" title="Blog">Blog</a></li>
              <li><a href="/vacancies/" title="Vacancies">Vacancies</a></li>
              <li><a href="/#talktous" title="Talk to us" class="scroll">Talk to us</a></li>
            </ul>
          </div>
          </nav><!--/.nav-collapse -->
        </nav>
      </nav>
    </div>
    </nav>
    </div>
    </div>           
    
<div id="top"><a name="top"></a></div>
<section class="home calm">
    <h1>Calm Digital</h1>
    <div class="bigcalm">
        <h2>
            <span>An energetic full service creative agency with a clear digital focus. We are agents for change, encouraging our clients to be bigger, bolder and burn brighter than the rest.</span>
        </h2>
        <a class="scroll scroll-prompt" href="#whatwedo" title=""><span>Click to Scroll</span></a>
    </div>    
</section>
<section class="home whatwedo" id="whatwedo">
    <div class="container">
        <div class="row">
            <div class="span12">
                <a name="whatwedo"></a>
                <ul class="whatwedo-nav">
                    <li class="active" id="whatwedo-nav-web"><h3><a href="/what-we-do/#websites" title="web">web</a></h3></li>
                    <li id="whatwedo-nav-design"><h3><a href="/what-we-do/#graphic-design" title="design">design</a></h3></li>                    
                    <li id="whatwedo-nav-brand"><h3><a href="/what-we-do/#brand" title="brand">brand</a></h3></li>                
                    <li id="whatwedo-nav-marketing"><h3><a href="/what-we-do/#marketing" title="marketing">marketing</a></h3></li>
                    <li id="whatwedo-nav-campaigns" class="last"><h3><a href="/what-we-do/#campaigns" title="campaigns">campaigns</a></h3></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="slider-container">
        <ul id="slider">
            
                <li  style="background: url(http://www.calmdigital.com/static/uploads/services/web_2.jpg) bottom right no-repeat;"  id="web">                            
                    
                        
                            
                                <div class="service-desc"><p>
	We create web sites, web applications and online campaigns that work hard to connect you with the plugged-in population. We join the dots with social media, inbound and online content marketing, web optimisation, SEO and search engine marketing.</p>
</div>
                            
                            <h4 class="size1"><a href="/what-we-do/#websites" title="Websites">Websites</a></h4>                        
                        
                    
                        
                            
                            <h4 class="size2"><a href="/what-we-do/#ecommerce" title="eCommerce">eCommerce</a></h4>                        
                        
                    
                        
                            
                            <h4 class="size3"><a href="/what-we-do/#responsive-design" title="Responsive Design">Responsive Design</a></h4>                        
                        
                    
                        
                            
                            <h4 class="size4"><a href="/what-we-do/#elearning" title="eLearning">eLearning</a></h4>                        
                        
                    
                        
                            
                            <h4 class="size5"><a href="/what-we-do/#software-as-a-service" title="Software as a Service (Saas)">Software as a Service (Saas)</a></h4>                        
                        
                    
                        
                            
                            <h4 class="size6"><a href="/what-we-do/#intranet" title="Intranet">Intranet</a></h4>                        
                        
                    
                </li>
            
                <li  style="background: url(http://www.calmdigital.com/static/uploads/services/design.jpg) bottom right no-repeat;"  id="graphic-design">                            
                    
                        
                            
                                <div class="service-desc"><p>
	Beautiful graphic design is a marriage of crystal-clear communication with visually captivating imagery and typography. Great design should give voice to your message first and foremost, and creating striking visual communications is one thing Calm's design team does best.</p>
</div>
                            
                            <h4 class="size1"><a href="/what-we-do/#company-collateral" title="Company Collateral">Company Collateral</a></h4>                        
                        
                    
                        
                            
                            <h4 class="size2"><a href="/what-we-do/#marketing-material" title="Marketing Material">Marketing Material</a></h4>                        
                        
                    
                        
                            
                            <h4 class="size3"><a href="/what-we-do/#exhibitions" title="Exhibitions">Exhibitions</a></h4>                        
                        
                    
                        
                            
                            <h4 class="size4"><a href="/what-we-do/#promotional-material" title="Promotional Material">Promotional Material</a></h4>                        
                        
                    
                </li>
            
                <li  style="background: url(http://www.calmdigital.com/static/uploads/services/brand_2.jpg) bottom right no-repeat;"  id="brand">                            
                    
                        
                            
                                <div class="service-desc"><p>
	Your brand is so much more than simply a piece of graphic design. It is the essence of your business and ultimately it&#39;s what people say about your business when you are out of the room. How do you manage and control it?</p>
</div>
                            
                            <h4 class="size1"><a href="/what-we-do/#brand-development" title="Brand Development">Brand Development</a></h4>                        
                        
                    
                        
                            
                            <h4 class="size2"><a href="/what-we-do/#calm-hd-id" title="Calm HD-id">Calm HD-id</a></h4>                        
                        
                    
                        
                            
                            <h4 class="size3"><a href="/what-we-do/#corporate-id" title="Corporate ID">Corporate ID</a></h4>                        
                        
                    
                        
                            
                            <h4 class="size4"><a href="/what-we-do/#product-branding" title="Product Branding">Product Branding</a></h4>                        
                        
                    
                </li>
            
                <li  style="background: url(http://www.calmdigital.com/static/uploads/services/marketing_1.jpg) bottom right no-repeat;"  id="marketing">                            
                    
                        
                            
                                <div class="service-desc"><p>
	Every business wants to get closer to their audiences, right? Calm helps you understand and tap into the right people using research, technology and tactics we know work. We plan outcome-based strategies that work online and offline to get people talking and taking action so that you can see and measurable results.</p>
</div>
                            
                            <h4 class="size1"><a href="/what-we-do/#marketing-strategy" title="Marketing Strategy">Marketing Strategy</a></h4>                        
                        
                    
                        
                            
                            <h4 class="size2"><a href="/what-we-do/#internet-marketing" title="Internet Marketing">Internet Marketing</a></h4>                        
                        
                    
                        
                            
                            <h4 class="size3"><a href="/what-we-do/#consultancy" title="Consultancy">Consultancy</a></h4>                        
                        
                    
                        
                            
                            <h4 class="size4"><a href="/what-we-do/#market-research" title="Market Research">Market Research</a></h4>                        
                        
                    
                        
                    
                        
                    
                </li>
            
                <li  style="background: url(http://www.calmdigital.com/static/uploads/services/campaigns.jpg) bottom right no-repeat;"  id="campaigns">                            
                    
                        
                            
                                <div class="service-desc"><p>
	Got something to communicate and need to create hype? We can plan and execute your campaign including the creative concept, identity and art direction, key messages and copy, design for media, media planning and buying, production, integrated PR and social media.</p>
</div>
                            
                            <h4 class="size1"><a href="/what-we-do/#creative-concept-development" title="Creative Concept">Creative Concept</a></h4>                        
                        
                    
                        
                            
                            <h4 class="size2"><a href="/what-we-do/#integrated-campaigns" title="Integrated Campaigns">Integrated Campaigns</a></h4>                        
                        
                    
                        
                            
                            <h4 class="size3"><a href="/what-we-do/#social-media" title="Social Media">Social Media</a></h4>                        
                        
                    
                        
                            
                            <h4 class="size4"><a href="/what-we-do/#media-planning-and-buying" title="Media Buying">Media Buying</a></h4>                        
                        
                    
                        
                            
                            <h4 class="size5"><a href="/what-we-do/#virals" title="Viral Campaigns">Viral Campaigns</a></h4>                        
                        
                    
                </li>
            
        </ul>
    </div>
    <a class="scroll scroll-prompt" href="#whoweare" title=""><span>Click to Scroll</span></a>
</section> 

{# ------------------------------------------------------------------------------------------------------------------------------#}
<section class="home whoweare"  id="whoweare">
    <a name="whoweare"></a>
    
    {# carrusel #}
        <div class="container fill">
        <div id="myCarousel" class="carousel slide">
          <div class="carousel-inner">
            <div class="active item">
              <div class="fill" style="background-image:url({{ asset('img/casa1x1500x1000.jpg')}});">
                <div class="container">
                    <div class="carousel-caption">
                        <h4>Primera etiqueta de miniatura de imagen (thumbnail)</h4>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="fill" style="background-image:url({{ asset('img/casa2x1500x1000.jpg')}});">
                <div class="container">
                    <div class="carousel-caption">
                        <h4>Segunda etiqueta de miniatura de imagen (thumbnail)</h4>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="fill" style="background-image:url({{ asset('img/casa3x1500x1000.jpg')}});">
                <div class="container">
                    <div class="carousel-caption">
                        <h4>Tercera etiqueta de miniatura de imagen (thumbnail)</h4>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="fill" style="background-image:url({{ asset('img/casa4x1500x1000.jpg')}});">
                <div class="container">
                    <div class="carousel-caption">
                        <h4>Cuarta etiqueta de miniatura de imagen (thumbnail)</h4>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    </div>
                </div>
              </div>
            </div>
          </div>
          <div class="pull-center">
                <a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a>
                <a class="carousel-control right" href="#myCarousel" data-slide="next">›</a>
          </div>
        </div>
        </div>
    {# enf of carrusel #}    
    
    </div>
    <a class="scroll scroll-prompt" href="#ourwork" title=""><span>Click to Scroll</span></a>
</section>

<section class="home ourwork" id="ourwork">
    <a name="ourwork"></a>
    <div class="container">
        <div class="row">
            <div class="span12">
                <h2><span>Our Work</span></h2>
            </div>
        </div>
    </div>
    <div class="hero">
		<div class="hero-carousel">
		    
		        <article class="imac">
    				<img src="http://www.calmdigital.com/static/uploads/casestudy/azione-imac_1.jpg" alt="Azione" />
    				<a href="/our-work/azione/" title="Azione">
    				    <span class="casestudy-hero-title">Azione</span>
    				    <span class="casestudy-hero-service">product brand, decals, design, web, marketing, seo</span>
    				</a>
    			</article>
		    
		        <article class="macbook">
    				<img src="http://www.calmdigital.com/static/uploads/casestudy/pitf-macbook.jpg" alt="Pack in the Fags" />
    				<a href="/our-work/pack-in-the-fags/" title="Pack in the Fags">
    				    <span class="casestudy-hero-title">Pack in the Fags</span>
    				    <span class="casestudy-hero-service">campaign identity, design, website, web app</span>
    				</a>
    			</article>
		    
		        <article class="imac">
    				<img src="http://www.calmdigital.com/static/uploads/casestudy/stfr-imac_2.jpg" alt="Sound Training" />
    				<a href="/our-work/sound-training/" title="Sound Training">
    				    <span class="casestudy-hero-title">Sound Training</span>
    				    <span class="casestudy-hero-service">identity, design, website, web app, seo</span>
    				</a>
    			</article>
		    			
		</div>
	</div>
	<a class="scroll scroll-prompt" href="#talktous" title=""><span>Click to Scroll</span></a>
</section>
{# ------------------------------------------------------------------------------------------------------------------------------#}
    
    <div class="talktous-bar">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="talktous-arrow"></div>
                <a href="" title="Talk to us"><span>Talk to us</span></a>
            </div>
        </div>
    </div>
</div>
    <section class="home talktous" id="talktous">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="talktous-close"><span>Close</span></div>
                <h2 class="title-white"><a name="talktous"></a><span>Talk to Us</span></h2>
                <div class="row">
                    <div class="span4">
                        <div class="col-pad">
                            <div class="title title-small title-white title-underline">Where we live</div>
                            <div class="title title-medium title-white">0845 058 0511</div>
                            <div class="title title-medium title-white"><a href="mailto:talk@calmdigital.com" title="talk@calmdigital.com">talk@calmdigital.com</a></div>
                            <div class="address">
                                <p><strong>Calm Digital</strong></p>
                                <p>
                                    Boho One <br />
                                    Bridge Street West<br />
                                    Middlesbrough<br />
                                    TS2 1AE
                                </p>
                                <p>Local Number: 01642 917 102</p>
                            </div>
                        </div>
                    </div>
                    <div class="span4">
                        <div class="col-pad">
                            <div class="title title-small title-white title-underline">How can Calm help you?</div>
                            <form class="calm-form" action="/" method="post"><div style='display:none'><input type='hidden' name='csrfmiddlewaretoken' value='5XHVTmJd9rgGtIZQDr4FIg05gXEFVq4F' /></div>
                                <label for="id_name">Name</label>
                                <input type="text" name="name" id="id_name" placeholder="Name:" />
                                <div id="help_name" class="help"></div>
                                <label for="id_telephone">Telephone</label>
                                <input type="text" name="telephone" id="id_telephone" placeholder="Telephone:" />
                                <div id="help_telephone" class="help"></div>
                                <label for="id_email">Email</label>
                                <input type="text" name="email" id="id_email" placeholder="Email:" />
                                <div id="help_email" class="help"></div>
                                <label for="id_comment">Comment</label>
                                <textarea name="comment" placeholder="Comment:" id="id_comment"></textarea>
                                <div id="help_comment" class="help"></div>
                                <input type="submit" class="submit" id="talk_submit" name="submit" value="Submit" />
                            </form>
                        </div>
                    </div>
                    <div class="span4">
                        <div class="col-pad">
                            <div class="title title-small title-white title-underline">Keep Connected</div>
                            <table>
                                <tr>
                                    <td><a href="http://www.facebook.com/calmdigital" title="Like us on facebook"><img src="/static/img/facebook.png" alt="facebook" /></a></td>
                                    <td>Facebook</td>
                                </tr>
                                <tr>
                                    <td><a href="http://twitter.com/calmdigital" title="Follow us on Twitter"><img src="/static/img/twitter.png" alt="Twitter" /></a></td>
                                    <td>Twitter</td>
                                </tr>
                                <tr>
                                    <td><a href="http://www.linkedin.com/company/calm-digital" title="Connect with us on LinkedIn"><img src="/static/img/linkedin.png" alt="LinkedIn" /></a></td>
                                    <td>LinkedIn</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>                    
            </div>            
        </div>
    </div>
</section>
    <footer>
        <div class="container">
            <div class="pull-left">
                <ul class="nav nav-pills">
                    <li><a href="/privacy-policy/" title="Privacy Policy">Privacy Policy</a></li>
                    <li><a href="/sitemap/" title="Sitemap">Sitemap</a></li>
                </ul>
                <p>&copy; Copyright 2013 Calm Digital. All rights reserved | Registered in England and Wales No. 6815926 | VAT No. 981 0369 12</p></div>
            <div class="pull-right"><p><a class="footer-logo" href="http://www.calmdigital.com" title="Calm Digital"><span>Calm Digital</span></a></p></div>
        </div>
    </footer>
	
<!-- <script src="{{ asset('/ajax.googleapis.com/jquery1.7.2/jquery.min.js')}}"></script>
<script>window.jQuery || document.write('<script src="/static/js/libs/jquery-1.7.2.min.js"><\/script>')</script>
<script src="{{ asset('/js/libs/jquery.scroll.events.js')}}"></script>
<script src="{{ asset('bootstrap/js/bootstrap.min.js')}}"></script>

<script src="{{ asset('/js/libs/jquery.easing-1.3.js')}}"></script>
<script src="{{ asset('/js/libs/jquery.heroCarousel-1.3-ck.js')}}"></script>
<script src="{{ asset('/js/libs/jquery.anythingslider.js')}}"></script>
<script src="{{ asset('/js/home-ck.js')}}"></script>

<script src="{{ asset('/js/libs/jquery.placeholder.min.js')}}"></script>
<script src="{{ asset('/js/script-ck.js')}}"></script>
<script>
    var _gaq=[['_setAccount','UA-13214998-1'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
<script type="text/javascript">document.write(unescape("%3Cscript src='" + (("https:" == document.location.protocol) ? "https" : "http") + "://cdn.mouseflow.com/projects/13cf9994-311c-493e-963f-a783af5333bb.js' type='text/javascript'%3E%3C/script%3E"));</script> 
-->


<!--carusel script--> 
<script>

$(function() {
  $('#carousel').carousel({interval: 3000});
});

</script>


<script type="text/javascript">
   var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-366077-13']);
    _gaq.push(['_trackPageview']);
    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();  
</script>

<script>
    TowTruckConfig_enableAnalytics = true;
    TowTruckConfig_cloneClicks = "#run, .toggler"; 
</script>

<script src="{{ asset('https://towtruck.mozillalabs.com/towtruck.js')}}"></script>
</body>
</html>
