
<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js " lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Wynkl</title>
    <meta name="description" content="Wynkl es un servicio de WebForLife. 
          Vemos la web como un medio para hacer la vida mas sencilla :)"/>

    <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />
    <link rel="shortcut icon" href="/static//favicon.ico" />
    <!--<link rel="stylesheet" href="{{ asset('css/style.css')}}" /> -->
    <!--<link rel="stylesheet" href="{{ asset('css/libs/animate.min.css')}}" />-->
    <link href="{{ asset('bootstrap/css/bootstrap-responsive.min.css')}}" rel="stylesheet"/>
    
    <meta name="google-site-verification" content="i7rhD3f-1B2YTLL6-Ww_7otSJGNP6awiXPrw7Q4pWPs" />
    
 <!--<link href="{{ asset('css/libs/jquery.heroCarousel.css')}}" rel="stylesheet"/>
 <link href="{{ asset('bootstrap/css/bootstrap-responsive.min.css')}}" rel="stylesheet"/>
     <script src="{{ asset('js/libs/modernizr-2.5.3-respond-1.1.0.min.js')}}"></script>
     <link href="{{ asset('css/libs/anythingslider.css')}}" rel="stylesheet" /> -->
    
<link href="{{ asset('css/home.css')}}" rel="stylesheet" />

<!-- carousel libs -->
    <link href="{{ asset('bootstrap/css/bootstrap.min.css')}}" rel="stylesheet" />
    <!--<link href="{{ asset('carousel/bootstrap-combined.min.css')}}" rel="stylesheet" /> calesita mas grande nomas :/ -->
    <script src="{{ asset('http://code.jquery.com/jquery.js') }}"></script>
    <script src="{{ asset('carousel/bootstrap-carousel.js') }}"></script>
    <link href="{{ asset('css/libs/carousel.css')}}" rel="stylesheet" />

<!-- image gallery libs -->
    <link rel="stylesheet" href="{{ asset('Bootstrap-Image-Gallery-2.10.2/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('Bootstrap-Image-Gallery-2.10.2/css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('Bootstrap-Image-Gallery-2.10.2/css/bootstrap-responsive.css') }}">
    <!--[if lt IE 7]><link rel="stylesheet" href="{{ asset('Bootstrap-Image-Gallery-2.10.2/css/bootstrap-ie6.css') }}"><![endif]-->
    <link rel="stylesheet" href="{{ asset('Bootstrap-Image-Gallery-2.10.2/css/bootstrap-image-gallery.css') }}">
  
</head>
<body class="home" >
    
    <div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="http://www.bootply.com">Bootply</a>
      <div class="nav pull-right">
        <ul class="nav">
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Sign Out</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
    
    
{#[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
    <!--<div class="container navouter">
    <nav class="navbar navbar-fixed-top">
    <div class="navbar navbar-inverse navbar-fixed-top animated fadeInDown" style="display: block;">
      <nav class="navbar-inner">
        <nav class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
       
    
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand scroll" href="/#top" title="Calm Digital">
              <img src="/static/img/logo.png" alt="Calm Digital">
          </a>
          <!--<nav class="nav-collapse">-->
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="/#whatwedo" title="What we do" class="scroll">What we do</a></li>
              <li><a href="/#whoweare" title="Who we are" class="scroll">Who we are</a></li>
              <li><a href="/#ourwork" title="Our work" class="scroll">Our work</a></li>              
              <li><a href="/blog/" title="Blog">Blog</a></li>
              <li><a href="/vacancies/" title="Vacancies">Vacancies</a></li>
              <li><a href="/#talktous" title="Talk to us" class="scroll">Talk to us</a></li>
            </ul>
          </div>
          </nav><!--/.nav-collapse -->
        </nav>
      </nav>
    </div>
    </nav>
    </div>
    </div>           #}
    
<div id="top"><a name="top"></a></div>
<section class="home calm">
    <h1>Calm Digital</h1>
    <div class="bigcalm">
        <h2>
            <span>An energetic full service creative agency with a clear digital focus. We are agents for change, encouraging our clients to be bigger, bolder and burn brighter than the rest.</span>
        </h2>
        <a class="scroll scroll-prompt" href="#whatwedo" title=""><span>Click to Scroll</span></a>
    </div>    
</section>
{#-------------------------------------------------------------------------------------------------------------------------------#}    
    
{# inmobiliarias #}     
{#-------------------------------------------------------------------------------------------------------------------------------#}    
<section class="home whatwedo" id="whatwedo">
    <div class="container">
        <h1>Inmobiliarias</h1>
        
        <!--<ul class="nav nav-tabs">
            <li class="active">
            <a href="#">Alquileres</a>
            </li>
            <li><a href="#">Ventas</a></li>
        </ul>-->
        </div>
        <br />
        <br />
        
        <div class="hero-unit"> 
        
        {# fila 1 #}
        <!--<div class="span12">
            <ul class="thumbnails">
                <li>
                    <div class="thumbnail">
                        <img src="http://placehold.it/150x100" />
                    </div>
                </li>
                <li>
                    <div class="thumbnail">
                        <img src="http://placehold.it/150x100" />
                    </div>
                </li>
                <li>
                    <div class="thumbnail">
                        <img src="http://placehold.it/150x100" />
                    </div>
                </li>
                <li>
                    <div class="thumbnail">
                        <img src="http://placehold.it/150x100" />
                    </div>
                </li>
                <li>
                    <div class="thumbnail">
                        <img src="http://placehold.it/150x100" />
                    </div>
                </li>
            </ul>
         </div>  -->
            
        {# fila 2 #}    
        <ul class="thumbnails">
            <li data-type="dog" data-id="id-1" class="span3">
                <a href="#" class="thumbnail" id="dog1"><img src="http://placehold.it/140x100" alt=""></a>
            </li>
            <li data-type="dog" data-id="id-1" class="span3">
                <a href="#" class="thumbnail" id="dog1"><img src="http://placehold.it/140x100" alt=""></a>
            </li>
            <li data-type="dog" data-id="id-1" class="span3">
                <a href="#" class="thumbnail" id="dog1"><img src="http://placehold.it/140x100" alt=""></a>
            </li>
            <li data-type="dog" data-id="id-1" class="span3">
                <a href="#" class="thumbnail" id="dog1"><img src="http://placehold.it/140x100" alt=""></a>
            </li>
            <li data-type="dog" data-id="id-1" class="span3">
                <a href="#" class="thumbnail" id="dog1"><img src="http://placehold.it/140x100" alt=""></a>
            </li>
            <li data-type="dog" data-id="id-1" class="span3">
                <a href="#" class="thumbnail" id="dog1"><img src="http://placehold.it/140x100" alt=""></a>
            </li>
        </ul>
            
        {# fila 3 #}
        <ul class="thumbnails">
            <li data-type="dog" data-id="id-1" class="span3">
                <a href="#" class="thumbnail" id="dog1"><img src="http://placehold.it/140x100" alt=""></a>
            </li>
            <li data-type="dog" data-id="id-1" class="span3">
                <a href="#" class="thumbnail" id="dog1"><img src="http://placehold.it/140x100" alt=""></a>
            </li>
            <li data-type="dog" data-id="id-1" class="span3">
                <a href="#" class="thumbnail" id="dog1"><img src="http://placehold.it/140x100" alt=""></a>
            </li>
            <li data-type="dog" data-id="id-1" class="span3">
                <a href="#" class="thumbnail" id="dog1"><img src="http://placehold.it/140x100" alt=""></a>
            </li>
            <li data-type="dog" data-id="id-1" class="span3">
                <a href="#" class="thumbnail" id="dog1"><img src="http://placehold.it/140x100" alt=""></a>
            </li>
            <li data-type="dog" data-id="id-1" class="span3">
                <a href="#" class="thumbnail" id="dog1"><img src="http://placehold.it/140x100" alt=""></a>
            </li>
        </ul>
            
        {# fila 4 #}    
        <ul class="thumbnails">
            <li data-type="dog" data-id="id-1" class="span3">
                <a href="#" class="thumbnail" id="dog1"><img src="http://placehold.it/140x100" alt=""></a>
            </li>
            <li data-type="dog" data-id="id-1" class="span3">
                <a href="#" class="thumbnail" id="dog1"><img src="http://placehold.it/140x100" alt=""></a>
            </li>
            <li data-type="dog" data-id="id-1" class="span3">
                <a href="#" class="thumbnail" id="dog1"><img src="http://placehold.it/140x100" alt=""></a>
            </li>
            <li data-type="dog" data-id="id-1" class="span3">
                <a href="#" class="thumbnail" id="dog1"><img src="http://placehold.it/140x100" alt=""></a>
            </li>
            <li data-type="dog" data-id="id-1" class="span3">
                <a href="#" class="thumbnail" id="dog1"><img src="http://placehold.it/140x100" alt=""></a>
            </li>
            <li data-type="dog" data-id="id-1" class="span3">
                <a href="#" class="thumbnail" id="dog1"><img src="http://placehold.it/140x100" alt=""></a>
            </li>
        </ul>
            
     </div>
             
</section> 
{#-------------------------------------------------------------------------------------------------------------------------------#}
    
{# fideicomisos #}  
{# ------------------------------------------------------------------------------------------------------------------------------#}
<section class="home whoweare"  id="whoweare">
    <a name="whoweare"></a>
    
    {# carrusel #}
        <div class="container fill">
        <div id="myCarousel" class="carousel slide">
          <div class="carousel-inner">
            <div class="active item">
              <div class="fill" style="background-image:url({{ asset('img/casa1x1500x1000.jpg')}});">
                <div class="container">
                    <div class="carousel-caption">
                        <h4>Primera etiqueta de miniatura de imagen (thumbnail)</h4>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="fill" style="background-image:url({{ asset('img/casa2x1500x1000.jpg')}});">
                <div class="container">
                    <div class="carousel-caption">
                        <h4>Segunda etiqueta de miniatura de imagen (thumbnail)</h4>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="fill" style="background-image:url({{ asset('img/casa3x1500x1000.jpg')}});">
                <div class="container">
                    <div class="carousel-caption">
                        <h4>Tercera etiqueta de miniatura de imagen (thumbnail)</h4>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="fill" style="background-image:url({{ asset('img/casa4x1500x1000.jpg')}});">
                <div class="container">
                    <div class="carousel-caption">
                        <h4>Cuarta etiqueta de miniatura de imagen (thumbnail)</h4>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    </div>
                </div>
              </div>
            </div>
          </div>
          <div class="pull-center">
                <a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a>
                <a class="carousel-control right" href="#myCarousel" data-slide="next">›</a>
          </div>
        </div>
        </div>
    {# enf of carrusel #}    
    
    </div>
    <a class="scroll scroll-prompt" href="#ourwork" title=""><span>Click to Scroll</span></a>
</section>
{#-------------------------------------------------------------------------------------------------------------------------------#}
    
{# ultimas publicaciones de propietarios #}    
{#-------------------------------------------------------------------------------------------------------------------------------#}
<section class="home ourwork" id="ourwork">
    <a name="ourwork"></a>
    <div class="container">
        <div class="row">
            <div class="span12">
                <h2><span>Our Work</span></h2>
            </div>
        </div>
    </div>
    <!-- image gallery -->
        <div id="modal-gallery" class="modal modal-gallery hide fade" tabindex="-1">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title"></h3>
            </div>
            <div class="modal-body"><div class="modal-image"></div></div>
            <div class="modal-footer">
                <a class="btn btn-primary modal-next">Next <i class="icon-arrow-right icon-white"></i></a>
                <a class="btn btn-info modal-prev"><i class="icon-arrow-left icon-white"></i> Previous</a>
                <a class="btn btn-success modal-play modal-slideshow" data-slideshow="5000"><i class="icon-play icon-white"></i> Slideshow</a>
                <a class="btn modal-download" target="_blank"><i class="icon-download"></i> Download</a>
            </div>
        </div>
        <div id="gallery" data-toggle="modal-gallery" data-target="#modal-gallery">
            <a href="{{ asset('Bootstrap-Image-Gallery-2.10.2/img/images.jpeg') }}" title="Naranja" data-gallery="gallery">Naranja</a>
            <a href="{{ asset('Bootstrap-Image-Gallery-2.10.2/img/images1.jpeg') }}" title="Frutilla" data-gallery="gallery">Frutilla</a>
            <a href="{{ asset('Bootstrap-Image-Gallery-2.10.2/img/images2.jpg') }}" title="Morron" data-gallery="gallery">Limon</a>
            <a href="{{ asset('Bootstrap-Image-Gallery-2.10.2/img/images3.jpg') }}" title="Pera" data-gallery="gallery">Pera</a>
        </div>
	<a class="scroll scroll-prompt" href="#talktous" title=""><span>Click to Scroll</span></a>
</section>
{# ------------------------------------------------------------------------------------------------------------------------------#}
 
{# formulario de busqueda #}
{#-------------------------------------------------------------------------------------------------------------------------------#}    
    <div class="talktous-bar">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="talktous-arrow"></div>
                <a href="" title="Talk to us"><span>Talk to us</span></a>
            </div>
        </div>
    </div>
</div>
    <section class="home talktous" id="talktous">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="talktous-close"><span>Close</span></div>
                <h2 class="title-white"><a name="talktous"></a><span>Talk to Us</span></h2>
                <div class="row">
                    <div class="span4">
                        <div class="col-pad">
                            <div class="title title-small title-white title-underline">Where we live</div>
                            <div class="title title-medium title-white">0845 058 0511</div>
                            <div class="title title-medium title-white"><a href="mailto:talk@calmdigital.com" title="talk@calmdigital.com">talk@calmdigital.com</a></div>
                            <div class="address">
                                <p><strong>Calm Digital</strong></p>
                                <p>
                                    Boho One <br />
                                    Bridge Street West<br />
                                    Middlesbrough<br />
                                    TS2 1AE
                                </p>
                                <p>Local Number: 01642 917 102</p>
                            </div>
                        </div>
                    </div>
                    <div class="span4">
                        <div class="col-pad">
                            <div class="title title-small title-white title-underline">How can Calm help you?</div>
                            <form class="calm-form" action="/" method="post"><div style='display:none'><input type='hidden' name='csrfmiddlewaretoken' value='5XHVTmJd9rgGtIZQDr4FIg05gXEFVq4F' /></div>
                                <label for="id_name">Name</label>
                                <input type="text" name="name" id="id_name" placeholder="Name:" />
                                <div id="help_name" class="help"></div>
                                <label for="id_telephone">Telephone</label>
                                <input type="text" name="telephone" id="id_telephone" placeholder="Telephone:" />
                                <div id="help_telephone" class="help"></div>
                                <label for="id_email">Email</label>
                                <input type="text" name="email" id="id_email" placeholder="Email:" />
                                <div id="help_email" class="help"></div>
                                <label for="id_comment">Comment</label>
                                <textarea name="comment" placeholder="Comment:" id="id_comment"></textarea>
                                <div id="help_comment" class="help"></div>
                                <input type="submit" class="submit" id="talk_submit" name="submit" value="Submit" />
                            </form>
                        </div>
                    </div>
                    <div class="span4">
                        <div class="col-pad">
                            <div class="title title-small title-white title-underline">Keep Connected</div>
                            <table>
                                <tr>
                                    <td><a href="http://www.facebook.com/calmdigital" title="Like us on facebook"><img src="/static/img/facebook.png" alt="facebook" /></a></td>
                                    <td>Facebook</td>
                                </tr>
                                <tr>
                                    <td><a href="http://twitter.com/calmdigital" title="Follow us on Twitter"><img src="/static/img/twitter.png" alt="Twitter" /></a></td>
                                    <td>Twitter</td>
                                </tr>
                                <tr>
                                    <td><a href="http://www.linkedin.com/company/calm-digital" title="Connect with us on LinkedIn"><img src="/static/img/linkedin.png" alt="LinkedIn" /></a></td>
                                    <td>LinkedIn</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>                    
            </div>            
        </div>
    </div>
</section>
    <footer>
        <div class="container">
            <div class="pull-left">
                <ul class="nav nav-pills">
                    <li><a href="/privacy-policy/" title="Privacy Policy">Privacy Policy</a></li>
                    <li><a href="/sitemap/" title="Sitemap">Sitemap</a></li>
                </ul>
                <p>&copy; Copyright 2013 Calm Digital. All rights reserved | Registered in England and Wales No. 6815926 | VAT No. 981 0369 12</p></div>
            <div class="pull-right"><p><a class="footer-logo" href="http://www.calmdigital.com" title="Calm Digital"><span>Calm Digital</span></a></p></div>
        </div>
    </footer>
	
<!-- <script src="{{ asset('/ajax.googleapis.com/jquery1.7.2/jquery.min.js')}}"></script>
<script>window.jQuery || document.write('<script src="/static/js/libs/jquery-1.7.2.min.js"><\/script>')</script>
<script src="{{ asset('/js/libs/jquery.scroll.events.js')}}"></script>
<script src="{{ asset('bootstrap/js/bootstrap.min.js')}}"></script>

<script src="{{ asset('/js/libs/jquery.easing-1.3.js')}}"></script>
<script src="{{ asset('/js/libs/jquery.heroCarousel-1.3-ck.js')}}"></script>
<script src="{{ asset('/js/libs/jquery.anythingslider.js')}}"></script>
<script src="{{ asset('/js/home-ck.js')}}"></script>

<script src="{{ asset('/js/libs/jquery.placeholder.min.js')}}"></script>
<script src="{{ asset('/js/script-ck.js')}}"></script>
<script>
    var _gaq=[['_setAccount','UA-13214998-1'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
<script type="text/javascript">document.write(unescape("%3Cscript src='" + (("https:" == document.location.protocol) ? "https" : "http") + "://cdn.mouseflow.com/projects/13cf9994-311c-493e-963f-a783af5333bb.js' type='text/javascript'%3E%3C/script%3E"));</script> 
-->


<!--carusel script--> 
<script>

$(function() {
  $('#carousel').carousel({interval: 3000});
});

</script>

<!--image gallery script-->
    <script src="{{ asset('//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js') }}"></script>
    <script src="{{ asset('Bootstrap-Image-Gallery-2.10.2/js/bootstrap.js') }}"></script>
    <script src="{{ asset('Bootstrap-Image-Gallery-2.10.2/js/load-image.js') }}"></script>
    <script src="{{ asset('Bootstrap-Image-Gallery-2.10.2/js/bootstrap-image-gallery.js') }}"></script>


<script type="text/javascript">
   var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-366077-13']);
    _gaq.push(['_trackPageview']);
    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();  
</script>

<script>
    TowTruckConfig_enableAnalytics = true;
    TowTruckConfig_cloneClicks = "#run, .toggler"; 
</script>

<script src="{{ asset('https://towtruck.mozillalabs.com/towtruck.js')}}"></script>
</body>
</html>
