<!DOCTYPE html>
<html>
<head>

    <title>Wynkl</title>
    
    <link href="{{ asset('menu.css')}}" rel="stylesheet" />
    <link href="{{ asset('base.css')}}" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light+Two' rel='stylesheet' type='text/css'>
    
    
    <!-- least.js CSS-file (thumbnails gallery for inmobiliarias) -->
    <link href="{{ asset('least/css/least.min.css')}}" rel="stylesheet" />
    <!-- jQuery libary -->
    <script src="{{ asset('http://code.jquery.com/jquery-latest.js')}}" defer="defer"></script>
    <!-- least.js JS-file -->
    <script src="{{ asset('least/js/least.min.js')}}" defer="defer"></script>
    <!-- Lazyload JS-file -->
    <script src="{{ asset('least/js/jquery.lazyload.min.js')}}" defer="defer"></script>
    
    
    {#-- Carousel de fideicomisos (slideshow)--#}
    <link rel="stylesheet" href="{{ asset('slideshow/css/supersized.css')}}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ asset('slideshow/theme/supersized.shutter.css')}}" type="text/css" media="screen" />
		
    <script type="text/javascript" src="{{ asset('https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset('slideshow/js/jquery.easing.min.js')}}"></script>
		
    <script type="text/javascript" src="{{ asset('slideshow/js/supersized.3.2.7.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset('slideshow/theme/supersized.shutter.min.js')}}"></script>
    
</head>
<body>

    <div>
        <nav>
            <ul>
		<li><a href="#">Home</a></li>
                
                <li><a href="#">Inmobiliarias</a></li>
                
                <li><a href="#">Fideicomisos</a></li>
                
                <li class="drop">
                <a href="#">Propietarios</a>	
                    <div class="dropdownContain">
                    <div class="dropOut">
                    <div class="triangle"></div>
			<ul>
                            <li>Comprar</li>
                            <li>Alquilar</li>
			</ul>
                    </div>
                    </div>	
		</li>
                
                <li><a href="#">Buscar</a></li>
                
		<li class="drop">
		<a href="#">Ciudad</a>	
                    <div class="dropdownContain">
                    <div class="dropOut">
                    <div class="triangle"></div>
			<ul>
                            <li>Resistencia</li>
                            <li>Corrientes</li>
                            <li>Formosa</li>
			</ul>
                    </div>
                    </div>
		</li>
                
		<li><a href="#">Help</a></li>
            </ul>
        </nav>
    </div>
    
    <section class="home">
        <hgroup>
            <h3>Wynkl</h3>
            
        </hgroup>
    </section>
    
{#--- Inmobiliarias---------------------------------------------------------------------------------------------------------#}    
    <section class="inmobiliarias">
        
        <div id="cont-hgroup-inmb">
        <hgroup>
            <h1>Inmobiliarias</h1>
            <p>Click en el icono y accedes a todas las publicaciones</p>
        </hgroup>
        </div>
    
        <section class="inmb-gallery">
        <ul id="gallery">
            <li id="fullPreview"></li>

            <!-- 1 -->
                <li>
                    <a href="least/img/full/1.jpg"></a>
                    <img data-original="least/img/thumb/1.jpg" src="least/img/thumb/1.jpg" width="240" height="150" alt="Photo" />
                    
                    <div class="overLayer"></div>
                    <div class="infoLayer">
                        <ul>
                            <li>
                                <h2>
                                    Grupo Kell   
                                </h2>
                            </li>
                            <li>
                                <p>
                                    Ver mas
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div class="projectInfo">
                        <strong>Day, Month, Year:</strong> sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                    </div>
                </li>
                
                <!-- 2 -->
                <li>
                    <a href="least/img/full/2.jpg"></a>
                    <img data-original="least/img/thumb/2.jpg" src="least/img/thumb/2.jpg" width="240" height="150" alt="Photo" />
                    
                    <div class="overLayer"></div>
                    <div class="infoLayer">
                        <ul>
                            <li>
                                <h2>
                                    Photo   
                                </h2>
                            </li>
                            <li>
                                <p>
                                    View Picture
                                </p>
                            </li>
                        </ul>
                    </div>
                    
                    <p class="projectInfo">
                        <strong>Day, Month, Year:</strong> sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                    </p>
                </li>
                
                
        </ul>
        </section>
    </section>
    
{#-- Fideicomisos------------------------------------------------------------------------------------------------------------#}
    <section class="fideicomisos">
    <ul id="demo-block">
		<li><a href="http://buildinternet.com/project/supersized/" target="_blank"><img src="img/supersized-logo.png"/></a></li>
		<li>Photographers: <a href="http://cargocollective.com/mariakazvan" target="_blank">Maria Kazvan</a>, <a href="http://colindub.com" target="_blank">Colin Wojno</a>, &amp; <a href="http://brookeshaden.com/" target="_blank">Brooke Shaden</a></li>
	</ul>
	
	<!--End of styles-->

	<!--Thumbnail Navigation-->
	<div id="prevthumb"></div>
	<div id="nextthumb"></div>
	
	<!--Arrow Navigation-->
	<a id="prevslide" class="load-item"></a>
	<a id="nextslide" class="load-item"></a>
	
	<div id="thumb-tray" class="load-item">
		<div id="thumb-back"></div>
		<div id="thumb-forward"></div>
	</div>
	
	<!--Time Bar-->
	<div id="progress-back" class="load-item">
		<div id="progress-bar"></div>
	</div>
	
	<!--Control Bar-->
	<div id="controls-wrapper" class="load-item">
		<div id="controls">
			
			<a id="play-button"><img id="pauseplay" src="slideshow/img/pause.png"/></a>
		
			<!--Slide counter-->
			<div id="slidecounter">
				<span class="slidenumber"></span> / <span class="totalslides"></span>
			</div>
			
			<!--Slide captions displayed here-->
			<div id="slidecaption"></div>
			
			<!--Thumb Tray button-->
			<a id="tray-button"><img id="tray-arrow" src="slideshow/img/button-tray-up.png"/></a>
			
			<!--Navigation-->
			<ul id="slide-list"></ul>
			
		</div>
	</div>
    </section>
    
    <section class="propietarios"></section>
    
    <section class="buscar"></section>
       
{# script least #}
    <script>
        $(document).ready(function(){
            $('#gallery').least();
        });
    </script>
    
{# script carousel de fideicomisos #}
    <script type="text/javascript">
        jQuery(function($){		
	$.supersized({	
		// Functionality
			slide_interval: 3000,		// Length between transitions
			transition: 1, 			// 0-None, 1-Fade, 2-Slide Top, 3-Slide Right, 4-Slide Bottom, 5-Slide Left, 6-Carousel Right, 7-Carousel Left
			transition_speed: 700,		// Speed of transition													   
		// Components							
			slide_links: 'blank',	        // Individual links for each slide (Options: false, 'num', 'name', 'blank')
			slides:	[			// Slideshow Images
                            {image : 'http://buildinternet.s3.amazonaws.com/projects/supersized/3.2/slides/kazvan-1.jpg', title : 'Image Credit: Maria Kazvan', thumb : 'http://buildinternet.s3.amazonaws.com/projects/supersized/3.2/thumbs/kazvan-1.jpg', url : 'http://www.nonsensesociety.com/2011/04/maria-kazvan/'},
                            {image : 'http://buildinternet.s3.amazonaws.com/projects/supersized/3.2/slides/kazvan-2.jpg', title : 'Image Credit: Maria Kazvan', thumb : 'http://buildinternet.s3.amazonaws.com/projects/supersized/3.2/thumbs/kazvan-2.jpg', url : 'http://www.nonsensesociety.com/2011/04/maria-kazvan/'},  
                            {image : 'http://buildinternet.s3.amazonaws.com/projects/supersized/3.2/slides/kazvan-3.jpg', title : 'Image Credit: Maria Kazvan', thumb : 'http://buildinternet.s3.amazonaws.com/projects/supersized/3.2/thumbs/kazvan-3.jpg', url : 'http://www.nonsensesociety.com/2011/04/maria-kazvan/'},
                            {image : 'http://buildinternet.s3.amazonaws.com/projects/supersized/3.2/slides/wojno-1.jpg', title : 'Image Credit: Colin Wojno', thumb : 'http://buildinternet.s3.amazonaws.com/projects/supersized/3.2/thumbs/wojno-1.jpg', url : 'http://www.nonsensesociety.com/2011/03/colin/'},
                            {image : 'http://buildinternet.s3.amazonaws.com/projects/supersized/3.2/slides/wojno-2.jpg', title : 'Image Credit: Colin Wojno', thumb : 'http://buildinternet.s3.amazonaws.com/projects/supersized/3.2/thumbs/wojno-2.jpg', url : 'http://www.nonsensesociety.com/2011/03/colin/'},
                            {image : 'http://buildinternet.s3.amazonaws.com/projects/supersized/3.2/slides/wojno-3.jpg', title : 'Image Credit: Colin Wojno', thumb : 'http://buildinternet.s3.amazonaws.com/projects/supersized/3.2/thumbs/wojno-3.jpg', url : 'http://www.nonsensesociety.com/2011/03/colin/'},
                            {image : 'http://buildinternet.s3.amazonaws.com/projects/supersized/3.2/slides/shaden-1.jpg', title : 'Image Credit: Brooke Shaden', thumb : 'http://buildinternet.s3.amazonaws.com/projects/supersized/3.2/thumbs/shaden-1.jpg', url : 'http://www.nonsensesociety.com/2011/06/brooke-shaden/'},
                            {image : 'http://buildinternet.s3.amazonaws.com/projects/supersized/3.2/slides/shaden-2.jpg', title : 'Image Credit: Brooke Shaden', thumb : 'http://buildinternet.s3.amazonaws.com/projects/supersized/3.2/thumbs/shaden-2.jpg', url : 'http://www.nonsensesociety.com/2011/06/brooke-shaden/'},
                            {image : 'http://buildinternet.s3.amazonaws.com/projects/supersized/3.2/slides/shaden-3.jpg', title : 'Image Credit: Brooke Shaden', thumb : 'http://buildinternet.s3.amazonaws.com/projects/supersized/3.2/thumbs/shaden-3.jpg', url : 'http://www.nonsensesociety.com/2011/06/brooke-shaden/'}
				]
                            });
		    });
    </script>
    
</body>
</html>
